<h2>Login</h2>

<form class="login-form">
    <label for="name-login">Username:</label>
    <input type="text" id="name-login">
    <label for="password-login">Password:</label>
    <input type="text" id="password-login">
    <button type="submit">Login!</button>
</form>
Or <a href="/signup">Sign Up</a> instead!

<script src="../public/js/login.js"></script>