<div>
    <h2>Login</h2>
    <form class="login-form">
        <label for="username-login">Username:</label>
        <input type="text" id="username-login">
        <label for="password-login">Password:</label>
        <input type="text" id="password-login">
        <button type="submit">Login!</button>
    </form>
    <p>Or <a href="/signup">Sign Up</a> instead!</p>
</div>

<script src="./js/login.js"></script>