<div>
    <h3>Create a Post:</h3>
    <form class="new-post-form">
        <label for="post-name">Post name:</label>
        <input type="text" id="post-name">
        <label for="post-description">Description:</label>
        <textarea type="text" id="post-description"></textarea>
        <button type="submit">Create!</button>
    </form>
</div>

<script src="./js/dashboard.js"></script>