<div>
    <div class="post">
        <h2>{{name}}</h2>
        <p class="madeby">Posted by {{user.username}} on {{format_date date_created}}</p>
        <p>{{description}}</p>
    </div>

    <button id="comment-btn">Comment!</button>
</div>