<h2>Signup</h2>

<form class="signup-form">
    <label for="name-signup">Username:</label>
    <input type="text" id="name-signup">
    <label for="password-signup">Password:</label>
    <input type="text" id="password-signup">
    <button type="submit">Signup!</button>
</form>
Or <a href="/login">Login</a> instead!

<script src="../public/js/login.js"></script>